@font-face {
  font-family: 'BioRhyme';
  src: url(BioRhyme-Light.ttf) format('truetype');
}

body{
  font-family: 'BioRhyme', Arial, Helvetica, sans-serif !important; 
}


.form-control.placeholder {
  background-color: white;
  border: 1px solid;
  width: 90%;
  margin: auto;
  text-align: left;
}

.form-control.placeholder.B {
  background-color: rgb(248, 248, 248);
  width: 90%;
  margin: auto;
  text-align: left;
}

.btn.d-inline-flex.align-items-center.justify-content-center {
  background-image: url('../img/buttonAzulejo 1.png');
  background-size: cover;
  border-color: black;
  width: 60%;
  margin: 20px auto;
}

#textss {
  font-size: 14px;
  padding-top: 5px;
  text-align: center;
}

/* Profile */
#email {
  width: 90%;
}

/* Navbar */
@font-face {
  font-family: 'BioRhyme';
  src: url(BioRhyme-Light.ttf) format('truetype');
}

.nav-link {
  color: black;
  font-size: 1.25rem;
  font-family: 'BioRhyme';
}

.imagem {
  background-color: white;
  width: 55%;
  border: 1.2px solid black;
  border-radius: 15px;
}

.navbar-nav {
  display: flex;
  margin: 100%;
  top: auto;
}

.nav-item {
  flex: 1;
  font-family: 'BioRhyme';
}

.nav-item::after {
  background-image: url('Vector3.svg');
  margin: 0 10px;
}

.botao-imagem {
  width: 43px;
}

.sim, .nao {
  z-index: 100;
  margin-top: -300px;
}

.sim {
  margin-right: -10%;
}

.nao {
  margin-left: 10%;
}




.spot-img, .spot-img-100 {
  height: 350px;
}

.spot-img-100 {
  width: 100%;
  height: 250px;
}

.spot-img-100:hover, .spot-img:hover {
  transform: scale(1.02);
}

.heading {
  font-weight: 800;
}

/* Museum */
.intro-text-museu, .text-body-museu, .text-address {
  margin-left: 10%;
}

.text-address {
  margin-right: 10%;
}

.text-g {
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.teste {
  background-color: black;
  background-size: cover;
  background-position: center center;
}

/* Menu */
.custom-menu {
  width: 30vw;
  height: 90vh;
  display: none;
  background-color: white;
  position: absolute;
  z-index: 1100;
  left: 37%;
  animation: fadeInd 0.5s;
  margin-top: 35px;
}

@keyframes fadeInd {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.custom-menu .list-item {
  margin-bottom: 1rem;
}

.custom-menu .list-item a {
  color: #000;
  font-size: 15pt;
  font-weight: 500;
  padding-left: 1rem;
  text-decoration: none;
  justify-content: center;
}

.custom-menu .list-item a:hover {
  color: #c1c1c1 !important;
}

.btn-close {
  border: 1px solid white;
  font-size: medium;
  margin-top: 20px;
  background-color: white;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  padding: 5px;
  box-shadow: 0 8px 8px 0 rgba(173, 173, 173, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  padding: 12px 16px;
  display: block;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}

.dropdown-menu.show {
  display: block;
}

/* Home */
body {
  font-family: 'BioRhyme', Arial, Helvetica, sans-serif;
  color: #2D2D2D;
  background-color: rgb(255, 255, 255);
}

#cardhome {
  
  width: 22rem;
  background-color: #fcfcfc;
  max-width: 100%;
}
/*nav*/
#navhammenu {
  font-size: 50px !important;
  width: 520px;
  height: 50px;
}

#vlogText {
  font-size: 2.3rem;
}

#cardimages {
  max-width: 100%;
}

#homeshadow {
  width: 3500px;
}

#homebox {
  padding: 5rem;
}

.container {
  width: 100% !important;
}

.website__rights {
  display: inline-block;
  vertical-align: middle;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.text-reset {
  padding: 10px;
}

.nav-link {
  text-align: center;
  color: black;
  font-size: 1.25rem;
}

.card {
  display: inline-block !important;
  margin-right: 10px;
}

.imagemN {
  background-color: white;
  width: 55%;
  border: 1.2px solid black;
  border-radius: 15px;
  max-height: max-content;
}



header .black-container {
  background-color: black;
  color: white;
  padding: 60px;
}

.border.border-black.bg-light.rounded-4.mx-auto.align-items-center {
  width: 350px;
  height: 50px;
}

.card.text-centerA {
  width: 22rem;
  background-color: lightgray;
}

.card.text-center, .card {
  width: 15rem;
  border-color: white;
}

.card-title {
  padding-top: 2rem;
}

.cardb {
  width: 22rem;
  background-color: lightgray;
}

.card-titlea {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.text-decoration-none {
  color: white;
  font-size: 12rem;
}

.col-md-0.A {
  padding-top: 3rem;
}

.rounded.float-left {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.card-title.text-dark.align-items-center {
  text-align: center;
}

.text-center.justify-content-center.border-top.social-media {
  padding-top: 30px;
}

.text-center.card.shadow-lg.pt-5.pb-0.px-0.bg-white.rounded {
  width: 3500px;
}

.textss {
  padding-top: 7rem;
  padding-bottom: 4rem;
}

.headinghome {
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  padding-top: 0.5rem;
}

/* Register/Login */
.loginForm.A, .needs-validation {
  border-radius: 5px;
}

.mb-3.Z, .mb-3.W, .form-control {
  border: none;
  background-color: rgb(248, 248, 248);
  width: 90%;
  margin: auto;
}

.form-check {
  width: 90%;
  margin: auto;
}

#remember {
  align-items: center;
  width: 20px;
  height: 20px;
}

.form-check-label {
  padding-left: 5px;
  font-size: 14px;
  margin: auto;
  width: calc(100% - 20px);
}

.text-left, .text-center.B, .text-center.C, .text-center {
  width: 90%;
  margin: auto;
  font-size: 14px;
}

#registerButton, #loginButton, .btn {
  background-image: url('../img/button')}

  /*----------------------footer------------------------*/

  footer {
    background-color: white;
    max-width: 100%;
  }
  
  footer hr {
    border: 0.5px solid #d1d1d1;
  }
  
  footer ul {
    padding-left: 0;
  }
  
  footer ul li {
    list-style: none;
  }
  
  #footercontainer {
    max-width: 100%;
  }
  
  footer ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
  }
  
  footer ul li a:hover {
    color: #007bff;
  }
  
  .media-icons a {
    font-size: 20px;
    margin: 20px;
  }
  
  .media-icons a:hover {
    color: #007bff;
  }
  
  .row.bg-light {
    padding: 10px 0;
  }
  
  .row.bg-light .col {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
/*----------------------footer end -------------------*/


.nav-item {
  font-family: 'BioRhyme';
  flex: 1;
  font-size: 17px;
  margin-right: 20px;
  }
  
  .nav-link {
  position: relative;
  padding-bottom: 5px; 
  font-size: 19px;
  text-decoration: none; 
  border-bottom: 2px solid transparent; 
  transition: color 0.3s, border-bottom 0.3s;
  color: #000; 
  }
  
  .nav-link.active:hover,
  .nav-link:hover {
  color: #eae8dc; 
  border-bottom: 2px solid #f4f2ec; 
  }
  
  .nav-link.active {  
    font-size: 23px;
    color: #000; 
  }