<header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro-text py-5 mt-5 text-center bg-body-tertiary border border-1 ">
                        <div class="heading mb-3 display-5 ">Bem-Vindo(a) ao Blog</div>
                        <div class="fs-5 fw-light ">Compartilhe e descubra lugares incríveis</div>

                    </div>
                </div>
            </div>
        </div>

    </header>

   
    <div class="container-fluid my-5 ">

        <div class="row justify-content-center align-items-center">
            <div  class=" card col-md-4 mx-5 ">
                <img class="img-fluid card-img mt-2" src="../public/images/comm/Museu/MAAT/MAAT_2.png" alt="">
                <div class="card-body">
                    <div class=" card-title bolder">Lorem ipsum dolor.</div>
                    <div class=" card-text ">Oiooosduihwied hfewjdiu hgdwehud </div>
                </div>

            </div>
            <div class="card col-md-4 mx-5">
                <img class="img-fluid card-img mt-2" src="../public/images/noncomm/Beach/Praia da Costa da Caparica/PraiaCaparica_2.png" alt="">
                <div class="card-body">
                    <div class=" card-title bolder">Lorem ipsum dolor.</div>
                    <div class=" card-text ">Oiooosduihwied hfewjdiu hgdwehud </div>
                </div>

            </div>

        </div>

    </div>