

  <header>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="intro-text py-5 mt-5 text-center bg-body-tertiary border border-1 ">
            <div class="heading mb-3 display-5 ">Contacte-nos</div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Nome</label>
              <input type="text" class="form-control" id="name" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Endereço de Email</label>
              <input type="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Mensagem</label>
              <textarea class="form-control" id="message" rows="5" required></textarea>
            </div>
            <button
            type="submit" class="btn send bg-dark text-light">Enviar Mensagem</button>
          </form>
        </div>
       
        <div class="col-md-4 offset-md-2 pt-3">
          <img id="anime" src="/images/contactUs.png" class="float-end">
          <p class="border-top border-1 border-color-light pt-3">Se você tiver alguma dúvida, feedback ou apenas quiser dizer olá, não hesite em entrar em contato conosco. </p>
        
          <p>Estamos aqui para ajudá-lo e estamos ansiosos para ouvir de você! Por favor, preencha o formulário e entraremos em contato o mais breve possível.</p>
        </div>

        
      </div>
    </div>
    
  </section>