
  
  </script>
    <header>
      <div class="container col-sm-3">
        <div class="row">
          <div class="container">
            <div
              id="homebox"
              class="row d-flex justify-content-center"
            >
              <div
                id="homeshadow"
                class="text-center card shadow pt-5 pb-0 px-0 bg-white rounded"
              >
                <h2>This is our Story - Nossa História</h2>
                <p id="introtext" class="pt-3 px-5">
                  Embarque numa jornada de descoberta com o Lisbon Spot como seu
                  guia de confiança. Quer esteja a planear a sua primeira visita
                  a Lisboa ou à procura de tesouros escondidos fora do caminho
                  mais percorrido, a nossa plataforma é o seu recurso
                  indispensável para experiências de viagem autênticas. Navegue
                  por uma coleção cuidadosamente selecionada de fotos carregadas
                  pelos utilizadores para obter uma visão das diversas
                  vizinhanças de Lisboa, das atrações imperdíveis e dos pontos
                  de interesse locais.
                </p>
                <p id="introtextend" class="px-5">
                  Utilize o nosso sistema de filtragem intuitivo para
                  personalizar a sua exploração com base nos seus interesses e
                  preferências. Interaja com outros viajantes, partilhe dicas e
                  recomendações e inspire-se nas aventuras dos outros. Desde o
                  planeamento do seu itinerário até à relembrança das suas
                  memórias mais queridas, deixe que o Lisbon Spot seja o seu
                  companheiro na sua próxima aventura por Lisboa.
                </p>
                      <div id="cardhome" class="card text-center border border-dark col-sm-6 col-md-3">
                          <div class="card-body d-flex justify-content-center align-items-center">
                              <a class="text-decoration-none" href="../html/non-commercial.html">
                                  <h5 class="card-title text-dark align-items-center">Locais não comerciais</h5>
                              </a>
                          </div>
                          <a href="../html/commercial.html" title="" class="d-flex justify-content-center">
                              <img id="cardimages" src="/images/commercialHome.png" class="card-img-top img-fluid w-100 mx-0" alt="..." />
                          </a>
                      </div>
                      
                      <div id="cardhome" class="card border border-dark col-sm-6 col-sm-3" >
                          <div class="card-body d-flex justify-content-center align-items-center mx-0">
                              <a class="text-decoration-none" href="../html/commercial.html" title="">
                                  <h5 id="top" class="card-title text-dark align-items-center">Locais comerciais</h5>
                              </a>
                          </div>
                          <a href="../html/non-commercial.html" title="" class="d-flex justify-content-center">
                              <img id="cardimages" src="/images/nonCommercialHome.png" class="card-img-top img-fluid w-100 mx-0" alt="..."/>
                          </a>
                      </div>
             
              
                
                <h2 class="headinghome">Explore os locais e ...</h2>

                <div class="card">
                  <div class="card-body col-sm-3 col-sm-6"></div>
                  <img src="/images/adventureHome.svg" class="card-img-top" alt="..." />
                  <h5 class="card-title B pb-5">Aventura</h5>
                </div>
                <div class="card">
                  <div class="card-body col-sm-3 col-sm-6"></div>
                  <img src="/images/memoriasHome.svg" class="card-img-top" alt="..." />
                  <h5 class="card-title pb-5">Memórias</h5>
                </div>
                <div class="card">
                  <div class="card-body col-sm-3 col-sm-6"></div>
                  <img src="/images/experienciaHome.svg" class="card-img-top" alt="..." />
                  <h5 class="card-title pb-5">Experiências</h5>
                </div>
                <div class="p-5 bg-dark text-light">
                  <div class="container">
                      <div class="row justify-content-center align-items-center">
                          <div class="col-md-6">
                              <img src="/images/blogHome.svg" class="rounded img-fluid" alt="" />
                          </div>
                          <div class="col-md-6">
                              <div class="col-md-12">
                                  <a class="text-decoration-none" href="../html/blog.html" title="">
                                      <h1 id="vlogText" class="text-center" >Visite o nosso Blog</h1>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>      
                 
                <div class="col-md-0 pt-5" >
                  <div id="map"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>


