<!--#########################################################################################################-->
   
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro-text py-5 mt-5 text-center bg-body-tertiary border border-1 ">
                        <div class="heading mb-3 display-5 ">Lisbon Spots</div>
                        <div class="fs-5 fw-light ">Museu Nacional de Arte Antiga</div>

                    </div>
                </div>
            </div>
        </div>

    </header>

<!--#########################################################################################################-->
   

    <div class="container-fluid  my-5 ">
        <div class="row justify-content-around g-0  ">

            <div class="col-md-5 text-center">
                <img class=" rounded-3 spot-img float-end " src="../img/museum11.png" alt=""  >

            </div>
            <div class="col-md-2 text-center">
                <img class=" rounded-3 mx-auto spot-img " src="../img/vector_comb_3.svg" alt="">
            </div>
            <div class="col-md-5 text-center">
                <img class=" rounded-3 mx-auto spot-img float-start " src="../img/museum12.png" alt="" >
            </div>
        </div>

    </div>


    <!---------------------------------------------------------------------------------------------------------------------->


    <div class="container-fluid mx-auto d-block">
        <div class="row justify-content-start ms-5">
            <div class="col-md-7 ms-4">
                <div class="intro-text-museu fw-bold">Museu Nacional de Arte Antiga</div>
                <div class="text-body-museu text-muted">O Museu Nacional de Arte Antiga em Lisboa foi fundado em 1884 e o espaço por si só é uma obra de arte. O Museu Nacional de Arte Antiga em Lisboa, com a sua construção realizada no final do século XVII por Dom Francisco de Távora, o 1.º Conde de Alvor. Encontra-se inserido no Palácio Alvor-Pombal, antiga residência do 1.º Marquês de Pombal que foi ampliado aquando da conversão em museu, para expor as coleções da Família Real Portuguesa e da Academia Nacional de Belas Artes. 
                    
                    Posteriormente, foram erguidos um convento e uma capela junto à residência principal da estrutura. Hoje, a capela representa um belo exemplo de arte e de arquitetura do século 18 e está incorporada no espaço de exposição do museu. </div>
    </div>

    <div class="container-fluid">
        <div class="row  d-flex justify-content-between " ></div>
        
            <div class="col-md-12 mt-5  ">
                <div class="text-address  fw-bold">R. das Janelas Verdes, 1249-017 Lisboa</div>
            </div>

            
    </div>

    <div class="container ">
        <div class="row justify-content-start  mt-5">
            <div class="col-10 mt-5">
                <div class="ms-2 fw-bold text-muted text-align-start">Mais fotografias</div>
            </div>
        </div>
    </div>

    <div class="container mb-5 ">
        <div class="row justify-content-around  gy-4 me-5 ">
        

            
            <div class="col-md-4   ">
                <img src="../img/museu_arte_antiga_ASR4054.jpg" alt="" class=" rounded-3 spot-img-100 " >
            </div>
            <div class="col-md-4">
                <img src="../img/muse3.png" alt="" class=" rounded-3 spot-img-100  ">
            </div>
            <div class="col-md-4 ">
                <img src="../img/muse2.png" alt="" class=" rounded-3 spot-img-100  " >
            </div>
        
            <div class="col-md-4   ">
                <img src="../img/hotel4.png" alt="" class=" rounded-3 spot-img-100  ">
            </div>
            <div class="col-md-4   ">
                <img src="../img/muse1.png" alt="" class="rounded-3  spot-img-100  ">
            </div>
            <div class="col-md-4   ">
                <img src="../img/muse.png" alt="" class=" rounded-3 spot-img-100  ">
            </div>
        </div>
    </div>

        </div>
    </div>