body{
    background-color: rgb(60, 35, 35);
    
    
   
}

.container{
width: 100%;

}


.coluna{
    width: 100%;
}

.coluna1{
    width: 50%;
}


.coluna2{
    width: 33%;
}


.list{
  list-style: none;
  display:inline-flex;
 /* border: 1px solid black;*/
  border:1px solid rgba(28.458755314350128, 30.81248391419649, 28.458755314350128, 1);
  border-radius: 50px;
  background-color: white;
  justify-content: left;
  width: 100%;
 

}

.inline{
   display:inline-flex;
   
}

.list-item{ 
    background-image: url('../img/Vector\ 2.svg');
    background-repeat: no-repeat;
    margin:0px ;
    background-position: right center;
    background-size: 10px auto;
   
}


.list-item:last-child {
    background-image: none;
  }

.button{
    display: inline-flex;
   
    
}

.nav-left{
    padding-top: 15px;
}

.nav-center{
    padding-top: 7.5px;
}


.nav-right{
    padding-top: 15px ;
    
}




.icon{
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    width: 80px;
    margin-right: 350px;
    margin-left: 20px;
    
   
}

.menu{
    border: 2px solid white;
   color: black;
    border-radius: 10px;
    display:inline-flex;
    margin-top: 3px;
    margin-left: 390px;

}


a{
    text-decoration: none;
    margin: 20px;
    align-items: center;
    color: black;
}


