@font-face {
    font-family: 'BioRhyme';
    src: url(BioRhyme-Light.ttf) format('truetype');
}

body{
    background-color:rosybrown;
    overflow-x: hidden;
    /*se algo tfaz scroll para a horizontal, fica escondido*/
}

*{
    margin: 0;
    padding: 0;
}


a {
    color: black;
    text-decoration: none;
    transition: 0.3;
    margin: 20px;
    align-items: center;
      
    }


a:hover {
    opacity: 0.7;
}


.logo{
    
    width: 90px;
    border: 1.2px solid black;
    border-radius: 15px;
    background-color: white;
    /*margin-right: 330px; */
    margin-left: 4%;
   
    
}

nav{
    width: 100%;



    display: flex;
    align-items: center;
    background-color: cadetblue;
    font-family: 'BioRhyme', sans-serif;
    height: 16vh;
    
}

/*.nav-list  {
    
    list-style: none;
    display: flex;
    border-radius: 15px;
    background-color: white;
    border:1px solid rgba(28.458755314350128, 30.81248391419649, 28.458755314350128, 1);
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 45%;
    margin-left: 20%;

}*/



.nav-list{
    
    list-style: none;
    display:flex;
    border:1.2px solid rgba(28.458755314350128, 30.81248391419649, 28.458755314350128, 1);
    border-radius: 17px;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 45%;
    margin-left: 25%;
    text-align: center;
  
   
  
  }


/*.menu{
    display: flex;
    margin-left: 22%;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    display:inline-flex;
   
   
}*/

.menu{
    display: flex;
    border: 1.2px solid black;
    color: black;
    border-radius: 10px;
    display:flex;
    margin-left:190%;
    align-items: center;
    justify-content: center;
}

.button{
   
    display: inline-flex;
}


.butt{
    
    padding-top: center ;
    padding-left: 20% ;
}

.menu a{
    display:block;
}



/*.nav-list li{
    
    text-align: justify;
    letter-spacing: 3px;
    margin-left: 32px;
    background-image: url(Vector\ 2.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px auto;
    width: 100%;
    height: 100%;
}*/


.nav-list li {
    text-align: center; 
    margin-bottom:center;
    /*margin-left: 32px;*/
    flex: 1;
    background-image: url('../img/Vector\ 2.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px auto;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center; 
    align-items: center; 
  }

/*.lis{ 
      
    background-image: url('Vector\ 2.svg');
    background-repeat: no-repeat;
    margin:0px ;
    background-position: right center;
    background-size: 10px auto;
    width: 100%;
    height: 100%;
    margin-bottom:center;
    text-align: center;
    
}*/







.nav-list li:last-child{
    background-image: none;
}

 


.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition:0.3s
}

.mobile-menu {
    display: none;
    cursor: pointer;
}


@media(max-width: 999px){
    .nav-list{
        position: absolute;
        top: 16vh;
        right: 0;
        width: 50vw;
        height: 84vh;
        background: white;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
        transition: transform 0.3s ease-in;
        border: none;
        border-radius: 0px;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
        background-image: none;
        text-align: center;
        margin-top: 10%;
       
    }
    .mobile-menu{

        display:block;
    }

    .logo{
        margin-right: 300px;
    }

    .menu{
        display: none;
        
    }
    .mobile-menu{
        margin-left: 25%;
    }
}

.nav-list.active{
    transform: translateX(0);
}


@keyframes navLinkFade {
    from{
        opacity: 0;
        tranform:translateX(50px);
    }to{
        opacity: 1;
        transform: translate(0);
    }
    
}


/*.mobile-menu.active .line1{
  transform: rotate(-45deg) translate(-8px, 8px);  
}

.mobile-menu.active .line2{
    opacity: 0; 
  }

  .mobile-menu.active .line1{
    transform: rotate(45deg) translate(-5px, -7px);  
  }*/

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-5px, 9px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -9px);
  }
  
  