.login-container {
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  position: relative;
  margin-top: 60px;
  background-color: #fff;
}

.login-container h1 {
  margin-bottom: -160px;
  margin-left: 10px; 
}

.login-container button {
  margin-top: 10px;
}

.left-aligned h4 {
  margin: 5px 0;
}

.imagedel {
  margin-left: 10px;
}

.text-left {
  text-align: left;
}

.small-text {
  font-size: 14px;
}
.logo-container {
  margin-bottom: 20px;
}


.cross-circle {
  position: absolute;
  top: 5%; 
  right: 5%; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.container-relative {
  position: relative;
}



.cross-circle:before,
.cross-circle:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #000;
}

.cross-circle:before {
  transform: rotate(45deg);
}

.cross-circle:after {
  transform: rotate(-45deg);
}



/*body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.top-image {
  position: absolute;
  height: 120px;
  width: 120px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 7px;
}

.login-container {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  margin-top: 60px;
  width: fit-content;
}

.login-container h1 {
  margin-bottom: -160px;
  margin-left: 10px; 
}

.login-container button {
  width: 50%;
  padding: 8px;
  background: url('../img/buttonAzulejo\ 1.png') no-repeat center;
  background-size: cover;
  color: black;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.login-container button:first-of-type {
  margin-top: -130px; 
}

.login-container button:hover {
  opacity: 0.9;
}

.login-container p {
  margin-top: 10px;
  font-size: 12px;
}

.login-container a {
  color: #007bff;
  text-decoration: none;
  font-size: 15px;
}

.login-container a:hover {
  text-decoration: underline;
}

.cross-circle {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cross-circle:before,
.cross-circle:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #000;
}

.cross-circle:before {
  transform: rotate(45deg);
}

.cross-circle:after {
  transform: rotate(-45deg);
}

.home-link {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 3;
  cursor: pointer;
}

.left-aligned h4 {
  margin: 5px 0;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: -40px;
  margin-bottom: -30px;
}

.left-aligned {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  margin-bottom: 20px;
  padding-top: 130px; 
}


.imagedel {
  margin-left: 10px;
  margin-right: 30px;
  align-self: center; 
  margin-bottom: 20px;
}
*/