.login-container {
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  position: relative;
  margin-top: 60px;
  background-color: #fff;
}

.login-container h1 {
  margin-bottom: -160px;
  margin-left: 10px; 
}

.btn{
  background-image: url('../img/buttonAzulejo\ 1.png');
  background-size: cover;
  border-color: black;
  font-size: small;
}


.login-container button {
  margin-top: 10px;
}

.left-aligned h4 {
  margin: 5px 0;
}


.imagedel {
  margin-left: 10px;
}

.text-left {
  text-align: left;
}

.small-text {
  font-size: 18px;/*-------------------------------------------------------------------------*/
  font-weight: 500;
  width: 130%
}

.logo-container {
  margin-bottom: 20px;
}

.cross-circle {
  position: absolute;
  top: 5%; 
  right: 5%; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container-relative {
  position: relative;
}

.cross-circle:before,
.cross-circle:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #000;
}

.cross-circle:before {
  transform: rotate(45deg);
}

.cross-circle:after {
  transform: rotate(-45deg);
}

.small-text{
  padding-top: 10px; 
  padding-right: 10px;
   width: 130%
}