*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    background: #EEECEB;
}
footer{
    position: fixed;
    background: #ffffff;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer .content{
    background: white;
    padding: 30px 40px 40px 40px;
    margin: auto;
} 
footer .content .top{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.content .top .logo-details{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-style: bold;
}
.content .top .media-icons{
    display: flex;
}
.content .top .media-icons a{
    height: 100%;
    width: 100%;
    background: white;
    margin: 0 8px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    color: #000;
    font-size: 30px;
    text-decoration: none;
}

footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
footer .content .link-boxes .box{
    width: calc(70% / 5 - 1px);
}
.content .link-boxes .box .link-name{
    color: #000000;
    font-size: 18px;
     font-weight: 400;
     margin-bottom: 5px;
     position: relative;
     list-style-type: none;
}

.btn{
    height: 47px;
    background-color: blue;
    border-radius: 5px;
    color: #fff;
}
.content .link-boxes .box li{
    margin: 10px 0;
    height: 15px;
    list-style: none;
}
.content .link-boxes .box li a{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
}
.content .link-boxes .input-box{
    margin-right: 55px;
}
.link-boxes .input-box input{
    height: 47px;
    width: calc(100% + 200px);
    outline: none;
    border: 1px solid black;
    background: #ffffff;
    border-radius: 3px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
    color: black;
    font-size: 16px;
    text-align: left; 
}
footer .bottom-details{
    width: 100%;
    background: #ffffff;
}
footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;

}
.bottom-details .bottom_text span,

.bottom-details .bottom_text a{
    font-size: 19px;
    font-weight: 300;
    color: #000000;
    opacity: 0.8;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 10px;
}
.bottom-details .bottom_text a{
    margin-left: 20px;
}