/*body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 200px;
  }
  
  .top-image {
    position: absolute;
    height: 120px;
    width: 120px;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    margin-top: 20px;
    margin-bottom: 7px;
}


.login-container {
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; 
    margin-top: 200px;
    width: 40%;
  
}

  .login-container h1 {
    margin-bottom:40 px;
  }
  
  .login-container input {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px; 
  }
  
  .login-container button {
    width: 60%;
    padding: 7.5px;
    background: url('../img/buttonAzulejo 1.png') no-repeat center;
    
    background-size: cover;
    color: rgb(0, 0, 0);
    border: none;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px; 
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  
  .login-container button:hover {
    opacity: 0.9;
  }
  
  .login-container p {
    margin-top: 10px;
    font-size: medium;
  }
  

  
  .login-container a {
    color: #007bff;
    text-decoration: none;
    font-size: medium;
  }
  
  .login-container a:hover {
    text-decoration: underline;
   
  }


 /* .description { 
    text-align: center;
    margin-left: 55px; 



.description p {
  width: 85%;
    margin: 0 auto; 
    font-size: medium;
   
}

.social-icons {
    margin-top: 2px;
}

.social-icons a {
    display: inline-block;
    margin: 10px; 
    margin-top: 2px;
    border-radius: 50%;
    background-color: transparent;
    padding: 10px;
     
}

.social-icons i {
    color: #000000;
    font-size: 24px; 
}

.social-icons a:hover {
    background-color: #000000; 
}

.social-icons a:hover i {
    color: #fff; 
}

.cross-circle {
    position: absolute;
    top: -20px; 
    right: -20px; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cross-circle:before,
.cross-circle:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #000;
}

.cross-circle:before {
    transform: rotate(45deg);
}

.cross-circle:after {
    transform: rotate(-45deg);
}

.home-link {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 3; 
    cursor: pointer;
}

*/

body::before {
  display: block;
  content: '';
  height: 60px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}



.social__icon--link {
  padding: 80px 0; 
}


.modal-title {
  align-items: center; 
  text-align: center;
  font-size: 40px;
}


.social-icon {
  color: black;
  border: 2px solid black;
  border-radius: 50%;
  border-width: 1px;
  margin-top: 60px;
  font-size: 25px;
  margin-bottom: 10px;
  padding: 9px;
  margin: 3px;
}

.social-text {
  margin-top: 20px;
  margin-bottom: 20px;
}


/*
.cross-circle {
  position: absolute;
  top: 160px; 
  left: -435px; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}*/

.cross-circle {
  position: absolute;
  top: 5%; 
  right: 5%; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.container-relative {
  position: relative;
}



.cross-circle:before,
.cross-circle:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #000;
}

.cross-circle:before {
  transform: rotate(45deg);
}

.cross-circle:after {
  transform: rotate(-45deg);
}

/*
.home-link {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 3; 
  cursor: pointer;
}*/

/*
.social-icon__link i {
  color: #000000;
  font-size: 24px;
}

.social-icon__link:hover {
  background-color: #000000;
}

.social-icon__link:hover i {
  color: #ffffff;
}

*/