.custom-menu {
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: white;
    position: absolute;
    z-index: 1100;

    animation-duration: 0.5s;
    animation-name: fadeInd;
}

@keyframes fadeInd {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.custom-menu .list-item {
    margin-bottom: 10rem;
}

.custom-menu .list-item:last-child {
    margin-bottom: 0;
}



.custom-menu .list-item a {
    color: #3D3D3D;
    font-size: 20pt;
    font-weight: 500;
    
}

.list-item a {
    text-decoration: none;
    justify-content: center;
    
}

.custom-menu .list-item a:active, .custom-menu .list-item a:hover {
    color: #c1c1c1 !important;
}


.btn-close{
   
    border: 1 solid white;
    background-color: white;
}