@font-face {
    font-family: 'BioRhyme';
    src: url(BioRhyme-Light.ttf) format('truetype');
}

body {
    font-family: 'BioRhyme', Arial, Helvetica, sans-serif;
    color: #2D2D2D;
  
}

.imagem{
    background-color: white;
    width: 55%;
    border: 1.2px solid black;
    border-radius: 15px;
}

ul{
    display:flex;
    margin: 100%;
    top:auto;
}
li{
    flex:1; 
}

.nav-item{
    font-family: 'BioRhyme';
    
    
    
}


/*.lista{
    background-color: white;
    border: 1.2px solid black;
    border-radius: 17px;
    width: 40%;
    height: 50px;
    
    
   
}*/

/*li {
 
    /*margin-left: 32px;
    flex: 1;
    background-image: url('Vector\ 3.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 3px auto;
    width: 100px;

    display: flex;
  
    justify-content: center; 
    align-items: center; 
  }
*/

.nav-item::after{
    background-image: url('Vector3.svg');
    margin: 0 10px;
}

  li:last-child{
    background-image: none;
  }
.botao-imagem{
    width: 43px;
}


/*.botao{
    background-color: white;
    border: 1.2px solid black;
    border-radius: 10px;
}
*/
.sim {
    z-index: 100;
    margin-top: -300px;
    margin-right: -10%;
}

.nao{
    z-index: 100;
    margin-top: -300px;
    margin-left: 10%;
}

.navbar{
    background-image: url(../img/mosaico.svg);
    background-size: cover;
    background-position: center center;
}


.btn-default {
    color: #2D2D2D;
    background-image: url(../img/buttonAzulejo\ 1.png);
    background-size: cover;
    background-position: center center;
    font-weight: 500;
}


.spot-img {
    width: 70%;
    height: auto;
}

.heading {
    font-weight: 800;
}


.text-g{
    /* Primeiro passo: definir um degradê como fundo */
 background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
 
 /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
 background-clip: text;
 -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

 /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
 -webkit-text-fill-color: transparent;

 /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
 color: black;
} 
