
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .text-reset {
    padding: 10px;
  }

  .nav-link {
    color: black;
    font-size: 1.25rem;
  }
  header .black-container {
    background-color: black;
    color: white;
    padding: 60px;
  }

  .card-title {
    display: flex;
    align-items: start;
  }

  .place-text {
    display: flex;
    flex-direction: column;
    margin-right: 380px; 
    margin-left: 220px; 
    align-items: center;
}

.place-text h2 {
    font-size: 32px; 
}

.place-text .address {
    font-size: 14px; 
    margin-top: 10px; 
}
