.fab.fa-tiktok {
    font-size: 40px; 
    color: black;
  }
  
  .fab.fa-instagram {
    font-size: 48px; 
    color: black;
  }
  
  .text-center.justify-content-center.border-top.social-media{
    padding-top: 30px
  }

  .col-md-3,
  .col-md-3.mt-2{
    height: 200px; width: 400px;
  }