@font-face {
    font-family: 'BioRhyme';
    src: url(BioRhyme-Light.ttf) format('truetype');
}



.use{
    font-family: 'BioRhyme' , sans-serif;
    font-size: 20px;
}


.terms{
    text-align: left;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

hr{
    /*border-color: rgba(0, 0, 0, 0.171);
    border-width: -100px;
    /*width: 50%;*/

    border: none; /* Remove a borda padrão */
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.253); /* Adiciona uma borda inferior fina */
    
}



 .main-a{
    color: rgba(0, 0, 255, 0.747);
}

.p{
    margin-top: -1%;
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%
}

.terms-use{
    
    width: 90px;
    border: 1.2px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: white;
    /*margin-right: 330px; */
    margin-left: 4%;
   
    
}