.fs-4.card-title.fw-bold.mb-4{
    font-size: 60px; text-align: center;
}

.loginForm.A{
    border-radius: 5px;
}

.mb-3.Z{
    border: none; background-color: rgb(248, 248, 248); width: 90%; margin: auto;
}

.mb-3.W{
    border: none; background-color: rgb(248, 248, 248); width: 90%; margin: auto;
}


.form-check{
    width: 90%; margin: auto;
}

#remember{
    align-items: center; width: 20px; height: 20px;
}

.form-check-label{
    padding-left: 5px; font-size: 14px; margin: auto; width: calc(100% - 20px);
}

.text-left{
    font-size: 14px; width: 90%; margin: auto;
}

#registerButton{
    background-image: url('../img/buttonAzulejo\ 1.png'); background-size: cover; border-color: black; width: 60%; margin: 20px auto;
}

.text-center.B{
    padding-top: 20px; width: 90%; margin: auto;
}

.text-center.C{
    font-size: 14px; padding-top: 25px;
}

#loginButton{
    background-image: url('../img/buttonAzulejo\ 1.png');
    background-size: cover;
    border-color: black;
    width: 60%;
    margin: 20px auto;
}

.text-center{
    font-size: 15px;
}

.btn{
    background-image: url('../img/buttonAzulejo\ 1.png');
    background-size: cover;
    border-color: black;
    font-size: small;
}

.small-text{
    padding-top: 10px; 
    padding-right: 10px;
     width: 130%
}

#del_heading{
    font-size: 55px;
}